@font-face {
    font-family: "Circular-Black";
    src: url(../types/circular-black.otf);
    font-family: "Circular-Medium";
    src: url(../types/circular-medium.otf);
}

.title-video {
    font-family: Lato;
    weight: 400;
    font-size: 3rem;
    text-align: right;
    color: white;
}

.blue-container {
    background-color: #0086F0;
    padding: 2rem;
}

.project-title {
    color: #4885ed;
    font-family: Circular-Medium;
    font-size: 3rem;
    text-align: right;
}

.title {
    font-family: Circular-Medium;
    font-weight: 700;
    font-size: 3rem;
    color: black;
    width: 75%;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

.description {
    text-align: left;
    font-family: Lato;
    font-size: 1.75rem;
    font-weight: 400;
    color: #38333B;
    width: 75%;
    display: block;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.description p {
    margin-bottom: 0px;
}

.emphasis-text {
    font-family: Lato;
    font-weight: 700;
    font-size: 1.75rem;
    color: #38333B;
    width: 75%;
    display: block;
    margin: auto;
}

.video-styling {
    width: 58%;
    height: auto;
}

.video-title {
    font-family: Circular-Medium;
    font-size: 3rem;
    text-align: right;
    color: white;
}

.video-description {
    text-align: right;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 400;
    color: white;
    padding-left: 2rem;
    margin-left: 2rem;
}

.video-alignment {
    display: flex;
    align-items: center;
}

.img-shadowing {
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05);
}

.img-resizing {
    width: 100%;
    margin: 2rem;
}

.sparkles-styling {
    width: 5%;
    animation: mover 1s infinite  alternate;
}

@keyframes mover {
    0% { 
        transform: translateY(-5px); 
    }
    100% { 
        transform: translateY(5px);
    }
}

.problem-statement {
    font-family: Circular-Medium;
    font-size: 1.5rem;
    color: #0086F0;
    width: 75%;
    display: block;
    margin: auto;
}

.case-row {
    padding: 2rem;
}

.img-resizing-block {
    width: 75%;
    display: block;
    margin: auto;
}

