@font-face {
    font-family: "Circular-Black";
    src: url(../types/circular-black.otf);
    font-family: "Circular-Medium";
    src: url(../types/circular-medium.otf);
}

.title-video {
    font-family: Lato;
    font-weight: 400;
    font-size: 3rem;
    text-align: right;
    color: white;
}

.blue-container {
    background-color: #0086F0;
    padding: 4rem;
    margin-bottom: 3rem;
}

.project-title {
    color: #4885ed;
    font-family: Circular-Medium;
    font-size: 3rem;
    text-align: right;
}

.title {
    font-family: Circular-Medium;
    font-size: 3rem;
    color: black;
    width: 65%;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

.description {
    text-align: left;
    font-family: Lato;
    font-size: 1.75rem;
    font-weight: 400;
    color: #38333B;
    width: 65%;
    display: block;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.description p {
    margin-bottom: 0px;
}

.emphasis-text {
    font-family: Lato;
    font-weight: 700;
    font-size: 1.75rem;
    color: #38333B;
    width: 65%;
    display: block;
    margin: auto;
}

.video-styling {
    width: 58%;
    height: auto;
    float: right;
}

.caption {
    float: left;
}

.video-title {
    font-family: Circular-Medium;
    font-size: 3rem;
    text-align: right;
    color: white;
}

.video-description {
    width: 80%;
    float: right;
    text-align: right;
    font-family: Lato;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 400;
    color: white;
}

.video-alignment {
    display: flex;
    align-items: center;
}

.img-shadowing {
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05);
}

.img-resizing {
    width: 100%;
    display: block;
    margin: auto;
}

.sparkles-styling {
    width: 5%;
    animation: mover 1s infinite  alternate;
}

@keyframes mover {
    0% { 
        transform: translateY(-5px); 
    }
    100% { 
        transform: translateY(5px);
    }
}

.problem-statement {
    font-family: Circular-Medium;
    font-size: 1.5rem;
    color: #0086F0;
    width: 75%;
    display: block;
    margin: auto;
}

.case-row {
    padding: 2rem;
}

.img-resizing-block {
    width: 65%;
    display: block;
    margin: auto;
}


.video-blurring {
    box-shadow: 0px 0px 10px 10px rgb(35,145,241);
}


.img-resizing-block:hover {
    transform: scale(1.5); 
    transition: all .2s ease-in-out;
}

.goals-title {
    font-family: Circular-Medium;
    font-size: 2rem;
    color: black;
    margin: 0;
}

.goals-description {
    font-family: Lato;
    font-size: 1.75rem;
    color: black;
}

.goals-block {
    width: 65%;
    display: block;
    margin: auto;
}

.icon-styling {
    display: block;
    margin: auto;
    margin-top: 0.5rem;
}

.archetypes-row {
    width: 65%;
    display: block;
    margin: auto;
    margin-top: 1rem;
}

.archetype-title {
    font-family: Circular-Medium;
    font-size: 2rem;
}

.archetype-description {
    font-family: Lato;
    font-weight: 400;
    font-size: 1.75rem;
}

.ar-block {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

