@font-face {
    font-family: "Circular-Black";
    src: url(../types/circular-black.otf);
    font-family: "Circular-Medium";
    src: url(../types/circular-medium.otf);
}

.name-styling {
    width: 5rem;
    height: auto;
}

.underline {
    display: inline;
    position: relative;
  }

.underline:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    top: 3rem;
    background: #000;
    height: 4px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.underline:hover:after,
.underline:focus:after,

.underline:active:after {
    left: 0;
    right: auto;
    width: 100%;
}

.nav-links {
    float: right;
    margin-top: 1rem;
}



.nav-links a:link {
    color: black;
    font-family: Circular-Medium;
    font-weight: 400;
    font-size: 2rem;
    text-decoration: none;
}

.nav-links a:active {
    color: black;
    font-family: Circular-Medium;
    font-weight: 400;
    font-size: 2rem;
    text-decoration: none;
}

.nav-links a {
    color: black;
    font-family: Circular-Medium;
    font-weight: 400;
    font-size: 2rem;
}

.nav-links p {
    display: inline-block;
    margin: auto;
    margin-left: 5rem;
    text-align: center;
}

.navbar-top {
    margin: 5rem;
}

.alignment {
    display: inline-block;
}

.blue-background {
    background-color: #0000ff;
}


.companion-img, .navigate-img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.compair-resizing {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
.peach-background {
    background-color: #F9C1B1;
}

.project {
    position: relative;
  }


.project-name {
    font-family: "Circular-Medium";
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.project-description {
    font-family: "Circular-Medium";
    font-size: 1.5rem;
}

.orange-background {
    background-color: #FE5858;
}

.div-illustration {
    position: relative;
}

.img-resizing-illustrations {
    width: 73.9%;
    height: auto;
    display: block;
    margin: auto;
}

.green-background {
   background-color: #7CFFCB; 
   width: 100%;   
}

.intro-sentence {
    font-family: Circular-Medium;
    font-weight: 700;
    font-size: 5rem;
}

.personal-description {
    font-family: Lato;
    font-size: 3.5rem;
}


.list-styling {
    list-style-type: none;
}

.list-styling li {
    line-height: 3.75rem;
}

.underline-list {
    display: inline;
    position: relative;
  }

.underline-list:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    top: 4rem;
    background: #000;
    height: 4px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.underline-list:hover:after,
.underline-list:focus:after,

.underline-list:active:after {
    left: 0;
    right: auto;
    width: 100%;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 5rem;
}
.personal-description a {
    font-size: 3.5rem;
    font-family: Lato;
    color: black;
    font-weight: 700;
}

.personal-description a:active, a:visited, a:focus, a:hover {
    text-decoration: none;
}

.hr-spacing {
    margin-top: 3rem;
}

@media (max-width: 990px) {
    .hr-spacing  {
        margin-top: 0rem;
    }
}

.img-resizing-profile {
    width: 70%;
    height: auto;
    float: right;
}

.wave-img {
    width: 5%;
    height: auto;
}

.sparkles-styling {
    width: 2%;
    animation: mover 1s infinite  alternate;
}

@keyframes mover {
    0% { 
        transform: translateY(-5px); 
    }
    100% { 
        transform: translateY(5px);
    }
}
